<h1>Home</h1>
<p>Angular 2/4 - Animation Tutorial & Example</p>

  <!-- 1 -->
  <div>
    <label for=""> (1) Form </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/form">
            Form
        </a>
      </li>
    </ul>
  </div>
  <!-- 2 -->
  <div>
    <label for=""> (2) New Course Form </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/newCourseForm">
          New Course Form
        </a>
      </li>
    </ul>
  </div>